* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}
p, span {
    font-size: 16px;
}

