/* general */
ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}
footer p {
    margin-top: 20px;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
    text-align: center;
}
.pic {
    border-radius: 100%;
}
span.userID {
    margin-right: 5px;
    font-weight: bold;
}
span.sub-span {
    font-size: 12px;
    color: #8e8e8e;
}
span.point-span {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}
/* nav */
nav {
    width: 200px;
    height: 100%;
    position: fixed;
    border-right: 1px solid #000000;
}
.nav_menu {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}
.nav_menu img {
    width: 25px;
    float: left;
    margin-right: 15px;
}
.nav_span {
    height: 21px;
    padding: 3px;
    font-weight: bold;
    font-size: 17px;
}
.menu {
    margin-top: 50px;
}
h1 {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 30px;
}

/* main */
main {
    width: 500px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 40px;
    height: 800px;
}
.main-right {
    width: 310px;
    display: inline-block;
    position: fixed;
    top: 94px;
}
.feeds {
    width: 500px;
    margin-right: 34px;
    display: inline-block;
}
article, .section-story, .section-recommend {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
article {
    margin-bottom: 60px;
}
.section-story, .section-recommend {
    width: 310px;
    padding: 14px 16px;
    overflow-y: hidden;
}
.section-story {
    height: 212px;
    margin-bottom: 20px;
    overflow-y: auto;
}
.section-recommend {
    height: 180px;
}
.emotion {
    width: 35px;
    height: 35px;
}
/* article */
header {
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-of-article {
    display: flex;
    align-items: center;
}
.img-profile {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 100%;
}
.main-image img {
    width: 498px;
}
.main-id {
    margin-left: 14px;
}
.icon-more {
    justify-self: end;
}
.icons-react {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-react {
    width: 24px;
    height: 24px;
}
.icons-left {
    display: flex;
    align-items: center;
}
.icons-left .icon-react {
    margin-right: 12px;
}
/* article text data */
.reaction {
    padding: 0 16px;
}
.liked-people {
    display: flex;
    align-items: center;
    height: 18px;
    margin: 2px 0 8px 0;
}
.liked-people img {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #fafafa;
}
.liked-people p {
    display: inline-block;
    color: #262626;
    font-size: 14px;
}
.description {
    display: flex;
    align-items: center;
}
.main_width {
    min-height: 500px;
}
span.at-tag {
    color: #00376B;
}
ul.comments {
    margin-top: 5px;
}
ul.comments li {
    height: 21px;
    display: flex;
    justify-content: space-between;
    color: #262626;
    font-size: 14px;
}
.comments li div {
    display: flex;
    align-items: center;
}
ul.comments li:hover .comment-more {
    display: inline-block;
}
img.comment-more {
    box-sizing: content-box;
    width: 26px;
    padding: 10px;
    display: none;
    opacity: 50%;
    cursor: pointer;
}
img.comment-heart {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}
img.comment-heart-liked {
    width: 12px;
    height: 12px;
    display: none;
    cursor: pointer;
}
div.time-log {
    margin-bottom: 8px;
}
div.time-log span {
    height: 18px;
    font-size: 12px;
    color: #8e8e8e;
}
.hl {
    border-top: 1px solid #DBDBDB;
}
/* comment input */
.input-comment {
    font-size: 14px;
    width: 448px;
    height: 18px;
    padding: 28px 16px;
    border-style: none;
    box-sizing: border-box;
    color: #262626;
}
.input-comment:focus {
    outline: none;
}
.input-comment::placeholder {
    color: #8e8e8e;
}
button.submit-comment {
    color: #0095f6;
    background-color: #fff;
    border-style: none;
    height: 40px;
    width: 40px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
}
.submit-comment:disabled {
    color: #B9DFFC;
}
button.submit-comment:focus {
    outline: none;
}
/* main-right */
.myProfile {
    height: 56px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.myProfile img {
    width: 56px;
    height: 56px;
}
.myProfile div {
    display: inline-block;
    margin-left: 14px;
}
.myProfile div span {
    display: block;
}
.myProfile div span.userID {
    margin-bottom: 4px;
}
/* story & recommendation */
.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.sub-title {
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}
.find-more {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}
.story-list li, .recommend-list li {
    display: flex;
    align-items: flex-start;
}
ul.story-list img.story {
    box-sizing: content-box;
    border: 2px solid #fff;
}
div.gradient-wrap {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}
ul.story-list .profile-text {
    margin-top: 3px;
}
.profile-text {
    display: inline-block;
    margin: 0 0 10px 8px;
}
.profile-text span {
    display: block;
}
.profile-text span.userID {
    margin-bottom: 2px;
}
.recommend-list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.btn-follow {
    padding-top: 7px;
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
}
.recommend-friend-profile {
    display: flex;
    align-items: flex-start;
}
.main_div {
    background-color: #fffeee;
    padding: 15px;
}
.main_h1 {
    text-align: center;
}
.main_date {
    text-align: right;
    margin-right: 5px;
    padding-top: 10px;
}
.main_nickDate {
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: right;
}
.main_label {
    margin-bottom: 10px;
    font-weight: bold;
}
.main_btn {
    text-align: center;
}
a:hover, a:link, a:visited, a:active {
    text-decoration-line: none;
    color: #000000;
}