@font-face {
    font-family: 'Jamsil2';
    /*src: url('/font/The Jamsil OTF 2 Light.otf') format('opentype');*/

    /* mac 주소*/
    src: url('/Users/hseungwan/Documents/GitHub/Project_MachineLearning/SpringBoot/src/main/resources/static/font/The Jamsil OTF 2 Light.otf') format('opentype');
}
/* general */
ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}
footer p {
    margin-top: 20px;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
    text-align: center;
}
.pic {
    border-radius: 100%;
}
span.userID {
    margin-right: 5px;
    font-weight: bold;
}
span.sub-span {
    font-size: 12px;
    color: #8e8e8e;
}
span.point-span {
    font-weight: 500;
    font-size: 16px;
    color: #262626;
}
/* nav */
nav {
    width: 400px;
    height: 100%;
    position: fixed;
}
.nav_menu {
    margin: 20px 20px 20px 100px;
    padding: 25px;
    font-size: 40px;
}
.nav_menu img {
    width: 35px;
    float: left;
    margin-right: 15px;
}
.nav_span {
    height: 21px;
    padding: 3px;
    font-weight: bold;
    font-size: 20px;
}
.menu {
    margin-top: 50px;
}
h1 {
    margin-left: 100px;
    margin-top: 30px;
    font-size: 60px;
}

/* main */
main {
    width: 1000px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 40px;
    min-height: 800px;
}

.main-right {
    width: 500px;
    display: inline-block;
    position: fixed;
    top: 90px;
}
.feeds {
    width: 1000px;
    display: inline-block;
}
article, .section-story, .section-recommend {
    border-radius: 3px;
}
article {
    margin-bottom: 60px;
}
.section-story, .section-recommend {
    width: 310px;
    padding: 14px 16px;
    overflow-y: hidden;
}
.section-story {
    height: 212px;
    margin-bottom: 20px;
    overflow-y: auto;
}
.section-recommend {
    height: 180px;
}
/* article */
header {
    width: 300px;
    margin-right: 50px;
    padding-top: 175px;
    position: fixed;
    right: 0;
    border: 1px;
    border-radius: 5px;
}
.profile-of-article {
    display: flex;
    align-items: center;
}
.img-profile {
    width: 50px;
    height: 50px;
    border: 1px solid #fafafa;
    border-radius: 100%;
}
.main-image img {
    width: 498px;
}
.main-id {
    margin-left: 14px;
}
.icon-more {
    justify-self: end;
}
.icons-react {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-react {
    width: 24px;
    height: 24px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
}
.icons-left {
    display: flex;
    align-items: center;
}
.icons-left .icon-react {
    margin-right: 12px;
}
/* article text data */
.reaction {
    padding: 0 16px;
}
.liked-people {
    display: flex;
    align-items: center;
    height: 18px;
    margin: 2px 0 8px 0;
}
.liked-people img {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #fafafa;
}
.liked-people p {
    display: inline-block;
    color: #262626;
    font-size: 14px;
}
.description {
    display: flex;
    align-items: center;
    height: 18px;
}
span.at-tag {
    color: #00376B;
}
ul.comments {
    margin-top: 5px;
}
ul.comments li {
    height: 21px;
    display: flex;
    justify-content: space-between;
    color: #262626;
    font-size: 14px;
}
.comments li div {
    display: flex;
    align-items: center;
}
ul.comments li:hover .comment-more {
    display: inline-block;
}
img.comment-more {
    box-sizing: content-box;
    width: 26px;
    padding: 10px;
    display: none;
    opacity: 50%;
    cursor: pointer;
}
img.comment-heart {
    width: 12px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
}
img.comment-heart-liked {
    width: 12px;
    height: 12px;
    display: none;
    cursor: pointer;
}
div.time-log {
    margin-bottom: 8px;
}
div.time-log span {
    height: 18px;
    font-size: 12px;
    color: #8e8e8e;
}
.hl {
    border-top: 1px solid #DBDBDB;
}
/* comment input */
.input-comment {
    font-family: 'Jamsil2';
    font-size: 14px;
    width: 880px;
    height: 15px;
    padding: 23px 15px;
    box-sizing: border-box;
    color: #262626;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin: 5px
}
.input-comment:focus {
    outline: none;
}
.input-comment::placeholder {
    color: #8e8e8e;
}
button.submit-comment {
    font-family: 'Jamsil2';
    color: #ffffff;
    background-color: #000000;
    border-style: none;
    height: 40px;
    width: 80px;
    padding: 4px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}
button.submit-comment:focus {
    outline: none;
}
/* main-right */
.myProfile {
    height: 56px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.myProfile img {
    width: 56px;
    height: 56px;
}
.myProfile div {
    display: inline-block;
    margin-left: 14px;
}
.myProfile div span {
    display: block;
}
.myProfile div span.userID {
    margin-bottom: 4px;
}
/* story & recommendation */
.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.sub-title {
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}
.find-more {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}
.story-list li, .recommend-list li {
    display: flex;
    align-items: flex-start;
}
ul.story-list img.story {
    box-sizing: content-box;
    border: 2px solid #fff;
}
div.gradient-wrap {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, #F58529 20%, #C42D91);
}
ul.story-list .profile-text {
    margin-top: 3px;
}
.profile-text {
    display: inline-block;
    margin: 0 0 10px 8px;
}
.profile-text span {
    display: block;
}
.profile-text span.userID {
    margin-bottom: 2px;
}
.recommend-list li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.btn-follow {
    padding-top: 7px;
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
}
.recommend-friend-profile {
    display: flex;
    align-items: flex-start;
}

.table_img img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
}
.table_writeCom_td {
    border-top: 1px solid #ddd;
}
.content_table {
    margin-bottom: 50px;
    background-color: #ffffff;
    box-shadow: 7px 5px;
    border: 2px solid #000000;
    width: 100%;
    height: 100%;
}
.content_table-emotion-emoji {
    margin-bottom: 50px;
    background-color: #fef4f4;
    box-shadow: 9px 7px #acc2d3;
    border: 3px solid #acc2d3;
    width: 100%;
    height: 100%;
}

.content_table-emotion-surprised {
    margin-bottom: 50px;
    background-color: #f2faff;
    box-shadow: 9px 7px #dedefc;
    border: 3px solid #dedefc;
    width: 100%;
    height: 100%;
}

.content_table-emotion-angry {
    margin-bottom: 50px;
    box-shadow: 9px 7px  #ff7373;
    border: 3px solid  #ff7373;
    width: 100%;
    height: 100%;
    background-color: #ffe7e7;
}

.content_table-emotion-sad {
    margin-bottom: 50px;
    background-color: #f2f2f2;
    box-shadow: 9px 7px #c4c4c4;
    border: 3px solid #c4c4c4;
    width: 100%;
    height: 100%;
}

.content_table-emotion-neutral {
    margin-bottom: 50px;
    background-color: #fff3c0;
    box-shadow: 9px 7px #ffc744;
    border: 3px solid  #ffc744;
    width: 100%;
    height: 100%;
}

.content_table-emotion-happy {
    margin-bottom: 50px;
    background-color: #fff7e0;
    box-shadow: 9px 7px #ffda9d;
    border: 3px solid #ffda9d;
    width: 100%;
    height: 100%;
}

.content_table-emotion-confused {
    margin-bottom: 50px;
    background-color: #c9e7d9;
    box-shadow: 9px 7px #b3dcc2;
    border: 3px solid #b3dcc2;
    width: 100%;
    height: 100%;
}

.comment_table {
    background-color: #fdfdfda8;
    border-radius: 5px;
    border: 1px solid #acacac;
    margin: 5px auto;
    width: 95%;
}
.comment_emotion {
    color: orange;
    margin-right: 10px;
    width: 40px;
    text-align: center;
}
.comment_content {
    margin-right: 10px;
    width: 730px;
}
.comment_date {
    color: #c7c7c7;
    width: 100px;
    text-align: center;
}
td.table_img {
    text-align: center;
}
td.table_header {
    height: 50px;
    text-align: center;
    padding-left: 210px;
}
td.table_header_dropdown {
    width: 10%;
}
td.table_content {
    padding: 20px 20px;
    vertical-align: top;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Jamsil2';
}
.table_recommend {
    margin-right: 10px;
    width: 60%;
}
.table_writeDate {
    text-align: center;
    width: 150px;
    white-space: nowrap; /* 줄 바꿈 방지 */

}
td.table_view {
    text-align: right;
    display: inline-block; /* 인라인 블록 요소로 설정하여 옆으로 표시 */
    margin-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 95%;
}
a:hover, a:link, a:visited, a:active {
    text-decoration-line: none;
    color: #000000;
}
button.dropdown_a {
    margin-left: 155px;
    margin-top: 10px;
}
.main_category {
    text-align: center;
    margin-bottom: 30px;
}
.btn_angry{
    width: 200px;
    padding: 10px 17px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: #ffe7e7;
    box-shadow: 9px 7px  #ff7373;
    border: 3px solid  #ff7373;
}
.btn_neutral{
    width: 200px;
    padding: 10px 17px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: #fff3c0;
    box-shadow: 9px 7px #ffc744;
    border: 3px solid  #ffc744;
}
.btn_emoji{
    width: 200px;
    padding: 10px 17px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: #fef4f4;
    box-shadow: 9px 7px #acc2d3;
    border: 3px solid #acc2d3;
}
.btn_surprise{
    width: 200px;
    padding: 10px 17px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: #f2faff;
    box-shadow: 9px 7px #dedefc;
    border: 3px solid #dedefc;
}
.btn_sad{
    width: 200px;
    padding: 10px 17px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: #f2f2f2;
    box-shadow: 9px 7px #c4c4c4;
    border: 3px solid #c4c4c4;
}
.btn_confused{
    width: 200px;
    padding: 10px 17px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: #c9e7d9;
    box-shadow: 9px 7px #b3dcc2;
    border: 3px solid #b3dcc2;
}
.btn_happy{
    width: 200px;
    padding: 10px 17px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: #fff7e0;
    box-shadow: 9px 7px #ffda9d;
    border: 3px solid #ffda9d;
}
a.btn_a {
    width: 150px; /* 텍스트 영역의 너비를 150px로 설정 */
    font-weight: bold;
    font-size: 17px;
    font-family: 'Jamsil2';
}
button.btn_open {
    background-color: #f2f2f2;
    border: 1px solid #bababa;
    border-radius: 5px;
    margin-right: 5px;
}
.dropdown{
    position : relative;
    display : inline-block;
}

.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
}

.dropdown-content a{
    display : block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
a.dropdown_a {
    padding: 5px;
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid #dddddd;
}
img.dropbtn {
    width: 20px;
    height: 20px;
    margin-left: 170px;
    margin-right: 10px;
}
.btn_emoji:hover {
    border: 4px solid #acc2d3;
}
.btn_surprise:hover {
    border: 4px solid #dedefc;
}
.btn_angry:hover {
    border: 4px solid #ff7373;
}
.btn_happy:hover {
    border: 4px solid #ffda9d;
}
.btn_sad:hover {
    border: 4px solid #c4c4c4;
}
.btn_neutral:hover {
    border: 4px solid #ffc744;
}
.btn_confused:hover {
    border: 4px solid #b3dcc2;
}
.img-emotion {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.emotion_div {
    display: inline-block;
}
.main_div {
    background-color: #ffffff;
    padding: 15px;
    border: 2px solid #000000;
    box-shadow: 10px 5px;
}
.main_h1 {
    text-align: center;
    font-family: 'Jamsil2';
}
.main_date {
    text-align: right;
    margin-right: 5px;
    padding-top: 10px;
}
.main_nickDate {
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: right;
}
.main_label {
    margin-bottom: 10px;
    font-weight: bold;
}
.main_btn {
    text-align: center;
}

.img-emotion-emoji {
    box-shadow: 5px 3px #acc2d3;
    border: 2px solid #acc2d3;
}

.img-emotion-surprised {
    box-shadow: 5px 3px #dedefc;
    border: 2px solid #dedefc;
}

.img-emotion-angry {
    box-shadow: 5px 3px  #ff7373;
    border: 2px solid  #ff7373;
}

.img-emotion-sad {
    box-shadow: 5px 3px #c4c4c4;
    border: 2px solid #c4c4c4;
}

.img-emotion-neutral {
    box-shadow: 5px 3px #ffc744;
    border: 2px solid  #ffc744;
}

.img-emotion-happy {
    box-shadow: 5px 3px #ffda9d;
    border: 2px solid #ffda9d;
}

.img-emotion-confused {
    box-shadow: 5px 3px #b3dcc2;
    border: 2px solid #b3dcc2;
}
