<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Instagram</title>
    <!-- favicon -->
    <link rel="icon" href="/img/favicon.png">
    <link rel="instagram-icon" href="/img/favicon.png">
    <!-- jquery 적용 -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });

        function updateRole(obj){
            var nickname = obj.dataset.value;
            var url = "/admin/list/ban/" + nickname;

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    location.href = '/admin/list';
                },
                error: function (jqXHR, status, error) {

                }
            });
        }
    </script>

</th:block>
<body>
<table>
    <thead>
    <tr>
        <th>유저번호</th>
        <th>아이디</th>
        <th>역할</th>
        <th>혐오 댓글 확인 횟수</th>
        <th>내역 보러 가기</th>
        <th>정지시키기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${lists}">
        <td th:text="${list.getUid()}"></td>
        <td th:text="${list.getNickName()}"></td>
        <td th:text="${list.getRole()}"></td>
        <td th:text="${list.getCount()}"></td>
        <td>
            <a th:onclick="'location.href=\'' + @{/admin/list/{nickname}(nickname = ${list.getNickName()})} + '\''" class="delete-comment">
            삭제된 댓글 리스트
            </a>
        </td>
        <td><form method="post" th:action="@{/admin/list/ban/{nickname}(nickname = ${list.getNickName()})}"><button type="submit">유저 정지</button></form> </td>
<!--        <td><a th:onclick="'location.href=\'' + @{/admin/list/ban/{nickname}(nickname = ${list.getNickName()})} + '\''">유저 정지</a></td>-->
    </tr>
    </tbody>
</table>
<!--  csrf 체크해서 이동 -->
<input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">
</body>
</html>
