<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Instagram</title>
  <link href="/css/common.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <!-- favicon -->
  <link rel="icon" href="/img/favicon.png">
  <link rel="instagram-icon" href="/img/favicon.png">
  <!-- jquery 적용 -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
<h1>해당 사용자의 삭제 처리된 댓글</h1>
<table>
  <thead>
  <tr>
    <th>번호</th>
    <th>닉네임</th>
    <th>내용</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="list : ${lists}">
    <td th:text="${list.getDid()}"></td>
    <td th:text="${list.getNickname()}"></td>
    <td th:text="${list.getContent()}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>