<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Instagram</title>
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="icon" href="/img/favicon.png">
    <link rel="instagram-icon" href="/img/favicon.png">
    <!-- jquery 적용 -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            var commentTables = document.getElementsByClassName("comment_table");

            for (var i = 0; i < commentTables.length; i++) {
                var commentTable = commentTables[i];
                var commentRows = commentTable.getElementsByTagName("tr");

                for (var j = 0; j < commentRows.length; j++) {
                    var emotionCell = commentRows[j].getElementsByClassName("comment_emotion")[0];
                    var emotionText = emotionCell.innerText.trim();

                    var imgurl = "";
                    if (emotionText === "공포") {
                        imgurl = "/img/emoji.png";
                    } else if (emotionText === "놀람") {
                        imgurl = "/img/surprised.png";
                    } else if (emotionText === "분노") {
                        imgurl = "/img/angry.png";
                    } else if (emotionText === "슬픔") {
                        imgurl = "/img/sad.png";
                    } else if (emotionText === "중립") {
                        imgurl = "/img/neutral.png";
                    } else if (emotionText === "행복") {
                        imgurl = "/img/happy.png";
                    } else if (emotionText === "혐오") {
                        imgurl = "/img/confused.png";
                    }

                    var imgElement = document.createElement("img");
                    imgElement.src = imgurl;
                    imgElement.style.maxWidth = "100%";
                    imgElement.style.height = "auto";
                    emotionCell.innerHTML = "";
                    emotionCell.appendChild(imgElement);
                }
            }
        });

        function deleteComment(obj){
            var cid = obj.dataset.id;
            var url = "/api/comment/delete/" + cid;
            var emotion2 = localStorage.getItem('emotion');
            console.log(emotion2);

            $.ajax({
                    url: url,
                    type: "DELETE",
                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        if (emotion2) {
                            location.href = '/api/diary/list/emotion/' + emotion2;
                        } else {
                            location.href = '/api/diary/list/1';
                        }
                    },
                    error: function (jqXHR, status, error) {

                        if (jqXHR.status == '401') {
                            alert('로그인 후 이용해주세요');
                            location.href = '/user/login';
                        } else {
                            alert(jqXHR.responseJSON.message);
                        }

                    }
                });
        }

        function deleteDiary(obj){
            var numId = obj.dataset.id;
            var url = "/api/diary/delete/" + numId;
            console.log(numId);
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                cache: false,
                success: function (result, status) {

                        location.href = '/api/diary/list/1';


                },
                error: function (jqXHR, status, error) {

                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/user/login';
                    } else {
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

        function saveRecommend(obj){
            var numId = obj.dataset.value;
            var url = "/api/recommend/save";
            var emotion2 = localStorage.getItem('emotion');
            console.log(emotion2);

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: JSON.stringify({num_id: numId, uid:[[${uid}]]}),
                cache: false,
                contentType: 'application/json',
                success: function (result, status) {
                    if (emotion2) {
                        location.href = '/api/diary/list/emotion/' + emotion2;
                    } else {
                        location.href = '/api/diary/list/1';
                    }
                },
                error: function (jqXHR, status, error) {

                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/user/login';
                    } else {
                        alert(jqXHR.responseJSON.message);
                    }
                }
            });
        }

        function saveComment(button) {
            var content = $(button).prev('.input-comment').val();
            var numId = button.dataset.value;
            var url = "/api/comment/save";
            var emotion2 = localStorage.getItem('emotion');

            console.log(emotion2);
            console.log(content + numId +[[${uid}]]);
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: JSON.stringify({numId: numId , content:content ,uid:[[${uid}]]}),
                cache: false,
                contentType: 'application/json',
                success: function (result, status) {
                    if (emotion2) {
                        location.href = '/api/diary/list/emotion/' + emotion2;
                    } else {
                        location.href = '/api/diary/list/1';
                    }
                },
                error: function (jqXHR, status, error) {
                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/user/login';
                    }
                }
            });
        }

        function deleteEmotion() {
            localStorage.removeItem('emotion');
            console.log(localStorage.getItem('emotion'));
        }

    </script>

</th:block>

<body>
<!-- navigation -->
<nav>
    <a href="/api/diary/list/1"><h1>𝑨𝒈𝒆𝒏𝒅𝒂</h1></a>
    <div class="menu">
        <div class="nav_menu"><a onclick="deleteEmotion()" href="/api/diary/list/1">
            <img src="/img/home.png" alt="홈">
            <div class="nav_span"><span>홈</span></div></a>
        </div>

        <div class="nav_menu"><a onclick="deleteEmotion()" href="/api/diary/save">
            <img src="/img/plus.png" alt="만들기">
            <div class="nav_span"><span>만들기</span></div></a>
        </div>

        <div class="nav_menu"><a onclick="deleteEmotion()" href="/api/diary/list/user" >
            <img class="pic" src="/img/user.png" alt="마이페이지">
            <div class="nav_span"><span th:text="${nickName}">프로필</span></div></a>
        </div>

        <div class="nav_menu"><a onclick="deleteEmotion()" href="/user/logout">
            <div class="nav_span"><span>로그아웃</span></div></a>
        </div>
    </div>
</nav>
<!-- main -->
<main>
    <div class="main_category">
        <button class="btn_emoji" type="button" onclick="setEmotion('공포')"><a href="/api/diary/list/emotion/공포" class="btn_a">공포</a></button>
        <button class="btn_surprise" type="button" onclick="setEmotion('놀람')"><a href="/api/diary/list/emotion/놀람" class="btn_a">놀람</a></button>
        <button class="btn_angry" type="button" onclick="setEmotion('분노')"><a href="/api/diary/list/emotion/분노" class="btn_a">분노</a></button>
        <button class="btn_sad" type="button" onclick="setEmotion('슬픔')"><a href="/api/diary/list/emotion/슬픔" class="btn_a">슬픔</a></button>
        <button class="btn_neutral" type="button" onclick="setEmotion('중립')"><a href="/api/diary/list/emotion/중립" class="btn_a">중립</a></button>
        <button class="btn_happy" type="button" onclick="setEmotion('행복')"><a href="/api/diary/list/emotion/행복" class="btn_a">행복</a></button>
        <button class="btn_confused" type="button" onclick="setEmotion('혐오')"><a href="/api/diary/list/emotion/혐오" class="btn_a">혐오</a></button>
    </div>
    <script>
        function setEmotion(emotion) {
            localStorage.setItem('emotion', emotion);
        }
    </script>

    <div class="feeds">
        <!-- article -->
        <article>
            <form>
                <table class="cotent_table" th:each="list : ${lists}">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td class="table_header">
                                        <img class="img-profile pic" th:src="${list.emotion}" alt="사용자의 감정 정보">
                                    </td>
                                    <td class="table_header_dropdown">
                                        <div class="dropdown">
                                            <img class="dropbtn" src="/img/diary_menu.png"></img>
                                            <div class="dropdown-content">
<!--                                                <a th:if="${uid} eq *{list.uid}" class="dropdown_a" th:href="@{/api/diary/post/{id}(id = ${list.numId})}">수정</a>-->
                                                <button th:if="${uid} eq *{list.uid}" type="button" class="dropdown_a" th:data-id="${list.numId}" onclick="deleteDiary(this)">삭제</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td th:if="${not #strings.isEmpty(list.photo)}" class="table_img"><img th:src="${list.photo}" alt="피드 사진" class="mainPic"></td>
                        <td th:if="${#strings.isEmpty(list.photo)}" class="table_img"><img src="/img/logo.png" alt="피드 사진" class="mainPic"></td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td class="table_recommend">
                                        <img onclick="saveRecommend(this)" th:data-value="${list.numId}" class="icon-react" alt="하트"
                                             th:src="${list.isrecommend ? '/img/liked.png' : 'https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png'}">
                                        <span class="point-span" th:text="${list.recommend}"></span></td>
                                    <td class="table_writeDate"><span class="userID main-id point-span" th:text="${list.writeDate}">2022-05-05</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_content" th:text="${list.content}" th:onclick="'location.href=\'' + @{/api/diary/posts/{id}(id = ${list.numId})} + '\''"> 내용</td>

                    </tr>
                    <tr>
                        <td>
                            <table class="comment_table" th:each="comment : ${list.comments}">
                                <tr>
                                    <td class="comment_emotion"><span th:text="${comment.emotion}">행복</span></td>
                                    <td class="comment_content"><span th:text="${comment.content}">내가 입으면 더 잘어울릴 것 같아</span></td>
                                    <td class="comment_date"><span th:text="${comment.writeDate}">2022-03-05</span></td>
                                    <td><button th:if="${uid} eq *{comment.uid}" type="button" class="btn_open" th:data-id="${comment.cid}" onclick="deleteComment(this)">삭제</button></td>
                                    <td><button th:unless="${uid} eq *{comment.uid}" disabled type="button" class="btn_open" th:data-id="${comment.cid}" onclick="deleteComment(this)">삭제</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_view">조회수 : <span class="point-span" th:text="${list.view}"></span></td>
                    </tr>
                    <tr>
                        <td class="table_writeCom_td">
                            <input id="input-comment" name="input-comment" class="input-comment" type="text" placeholder="댓글 달기...">
                            <button type="button" class="submit-comment" th:data-value="${list.numId}" onclick="saveComment(this)">등록</button></td>
                    </tr>
                </table>
            </form>
        </article>
    </div>
    <!--  csrf 체크해서 이동 -->
    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">
</main>
<footer>
    <p class="insta-sccript">
        Copyright © 2023 - All right reserved by Classbinu
    </p>
</footer>

</body>
</html>