<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Instagram</title>
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="icon" href="/img/favicon.png">
    <link rel="instagram-icon" href="/img/favicon.png">
    <!-- jquery 적용 -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        function deleteComment(obj){
            var cid = obj.dataset.id;

            var url = "/api/comment/delete/" + cid;
                $.ajax({
                    url: url,
                    type: "DELETE",
                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        location.href = '/api/diary/list/1';
                    },
                    error: function (jqXHR, status, error) {

                        if (jqXHR.status == '401') {
                            alert('로그인 후 이용해주세요');
                            location.href = '/user/login';
                        } else {
                            alert(jqXHR.responseJSON.message);
                        }

                    }
                });
        }

    </script>

</th:block>

<body>
<!-- navigation -->
<nav>
    <h1>𝑨𝒈𝒆𝒏𝒅𝒂</h1>
    <div class="menu">
        <div class="nav_menu">
            <img src="/img/home.png" alt="홈">
            <div class="nav_span"><span><a href="/api/diary/list/1">홈</a></span></div>
        </div>

        <div class="nav_menu">
            <img src="/img/search.png" alt="검색">
            <div class="nav_span"><span>검색</span></div>
        </div>

        <div class="nav_menu">
            <img src="/img/plus.png" alt="만들기">
            <div class="nav_span"><span>만들기</span></div>
        </div>

        <div class="nav_menu">
            <img class="pic" src="/img/user.png" alt="마이페이지">
            <div class="nav_span"><span th:text="${nickName}">프로필</span></div>
        </div>

        <div class="nav_menu">
            <div class="nav_span"><span><a href="/user/logout">로그아웃</a></span></div>
        </div>
    </div>
</nav>
<!-- main -->
<main>
    <div class="feeds">
        <!-- article -->
        <article>
            <form method="POST" action="/api/comment/save">
                <table class="cotent_table" th:each="list : ${lists}">
                    <tr>
                        <td class="table_header"><img class="img-profile pic" th:src="${list.emotion}" alt="사용자의 감정 정보"></td>
                    </tr>
                    <tr>
                        <td class="table_img"><img src="/img/dog.jpg" alt="user님의 피드 사진" class="mainPic"></td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td class="table_recommend"><img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트"><span class="point-span" th:text="${list.recommend}"></span></td>
                                    <td class="table_writeDate"><span class="userID main-id point-span" th:text="${list.writeDate}">2022-05-05</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_content"><span class="at-tag" th:text="${list.content}">이미 알고 있었어 미지근해진 널 돌이키려는 짓도 무의미할 걸 알아서 그냥 있을거야 Nothing 미친듯이 다투는 일도 Sick of it 여기저기 널 씹고 다녀도 No Baby I just wanna stay in my agit 달리 할 거 없이 그냥 혼자 취해 춤을 춰 Baby I just wanna stay in my agit 달리 할 거 없이 그냥 혼자 취해 춤을 춰 이제 나는 네게 아무 것도 아닌데 그걸</span></td>
                    </tr>
                    <tr>
                        <td>
                            <table class="comment_table" th:each="comment : ${list.comments}">
                                <tr>
                                    <td class="comment_emotion"><span th:text="${comment.emotion}">행복</span></td>
                                    <td class="comment_content"><span th:text="${comment.content}">내가 입으면 더 잘어울릴 것 같아</span></td>
                                    <td class="comment_date"><span th:text="${comment.writeDate}">2022-03-05</span></td>
                                    <td><button type="button" class="btn_open" th:data-id="${comment.cid}" onclick="deleteComment(this)">삭제</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_view">조회수 : <span class="point-span" th:text="${list.view}"></span></td>
                    </tr>
                    <tr>
                        <td class="table_writeCom_td">
                            <input id="input-comment" class="input-comment" type="text" placeholder="댓글 달기..." >
                            <button type="submit" class="submit-comment">등록</button></td>
                    </tr>
                </table>
            </form>
        </article>
    </div>
    <!--  csrf 체크해서 이동 -->
    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">
</main>
<footer>
    <p class="insta-sccript">
        소개 ∙ 도움말 ∙ 홍보 센터 ∙ API ∙ 채용 정보 ∙ 개인정보처리방침 ∙ <br>약관 ∙ 위치 ∙ 인기계정 ∙ 해시태그 ∙ 언어
        <br><br>
        © 2020 INSTAGRAM FROM FACEBOOK
    </p>
</footer>

</body>
</html>