<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Instagram</title>
  <link href="/css/common.css" rel="stylesheet" type="text/css" />
  <link href="/css/diary.css" rel="stylesheet" type="text/css" />
  <!-- favicon -->
  <link rel="icon" href="/img/favicon.png">
  <link rel="instagram-icon" href="/img/favicon.png">
</head>
<body>
<!-- navigation -->
<nav>
  <h1>𝑨𝒈𝒆𝒏𝒅𝒂</h1>
  <div class="menu">
    <div class="nav_menu">
      <img src="/img/home.png" alt="홈">
      <div class="nav_span"><span>홈</span></div>
    </div>

    <div class="nav_menu">
      <img src="/img/dm.png" alt="DM">
      <div class="nav_span"><span>검색</span></div>
    </div>

    <div class="nav_menu">
      <img src="/img/home.png" alt="홈">
      <div class="nav_span"><span>만들기</span></div>
    </div>

    <div class="nav_menu">
      <img class="pic" src="/img/profile.png" alt="마이페이지">
      <div class="nav_span"><span>프로필</span></div>
    </div>

    <div class="nav_menu">
      <div class="nav_span"><span>로그아웃</span></div>
    </div>
  </div>
</nav>
<!-- main -->
<main>
  <div class="feeds">
    <!-- article -->
    <article th:object="${diarySpecificationResponseDTO}">

      <header>
        <div class="profile-of-article">
          <img class="img-profile pic" src="/img/happy.png" alt="사용자의 감정 정보">
          <span class="userID main-id point-span" th:text="*{writeDate}">2022-05-05</span>
        </div>
        <img class="icon-react icon-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more">
      </header>
      <div class="main_width">
        <div class="main-image">
         <img src="/img/dog.jpg" alt="user님의 피드 사진" class="mainPic">
        </div>
        <div class="icons-react">
          <div class="icons-left">
            <img class="icon-react" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
            <span class="point-span">[[*{view}]]</span>
          </div>
        </div>
        <!-- article text data -->
        <div class="reaction">
          <div class="description">
            <p><span class="at-tag" th:text="*{content}">@wkorea @gucci</span></p>
          </div>
          <div class="comment-section">
            <ul class="comments">
              <li>
                <span><span class="point-span userID">김이박</span>내가 입으면 더 잘어울릴 것 같아</span>
                <div>
                  <img class="comment-more" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png" alt="more">
                </div>
              </li>
              <!-- input 값 여기에 추가 -->
            </ul>
          </div>
        </div>
      </div>
      <div class="hl"></div>
      <div class="comment">
        <input id="input-comment" class="input-comment" type="text" placeholder="댓글 달기..." >
        <button type="submit" class="submit-comment" disabled>게시</button>
      </div>
      </form>
    </article>
  </div>
</main>
<footer>
  <p class="insta-sccript">
    소개 ∙ 도움말 ∙ 홍보 센터 ∙ API ∙ 채용 정보 ∙ 개인정보처리방침 ∙ <br>약관 ∙ 위치 ∙ 인기계정 ∙ 해시태그 ∙ 언어
    <br><br>
    © 2020 INSTAGRAM FROM FACEBOOK
  </p>
</footer>
</body>
</html>