<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Instagram</title>
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="icon" href="/img/favicon.png">
    <link rel="instagram-icon" href="/img/favicon.png">
    <!-- jquery 적용 -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <style>
        .content-wrapper {
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 그리드 컨테이너의 열 수 설정 */
            grid-gap: 30px; /* 그리드 아이템 사이의 간격 설정 */
            justify-content: center; /* 가로 방향 가운데 정렬 */
            padding: 20px;
        }

        .grid-item {
            /*background-color: #f1f1f1;*/
            padding: 20px;
            text-align: center;
            width: 250px; /* 원하는 가로 크기로 설정 */
            height: 300px; /* 원하는 세로 크기로 설정 */
            border: 2px solid #000; /* Change the color to black (#000) */
        }
        .mainPic {
            width: 150px;
            height: 150px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .img-profile {
            width: 100px;
            height: 100px;
            border: 1px solid #fafafa;
            border-radius: 100%;
            margin-top: 20px;
        }
    </style>
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            var commentTables = document.getElementsByClassName("comment_table");

            for (var i = 0; i < commentTables.length; i++) {
                var commentTable = commentTables[i];
                var commentRows = commentTable.getElementsByTagName("tr");

                for (var j = 0; j < commentRows.length; j++) {
                    var emotionCell = commentRows[j].getElementsByClassName("comment_emotion")[0];
                    var emotionText = emotionCell.innerText.trim();

                    var imgurl = "";
                    if (emotionText === "공포") {
                        imgurl = "/img/emoji.png";
                    } else if (emotionText === "놀람") {
                        imgurl = "/img/surprised.png";
                    } else if (emotionText === "분노") {
                        imgurl = "/img/angry.png";
                    } else if (emotionText === "슬픔") {
                        imgurl = "/img/sad.png";
                    } else if (emotionText === "중립") {
                        imgurl = "/img/neutral.png";
                    } else if (emotionText === "행복") {
                        imgurl = "/img/happy.png";
                    } else if (emotionText === "혐오") {
                        imgurl = "/img/confused.png";
                    }

                    var imgElement = document.createElement("img");
                    imgElement.src = imgurl;
                    imgElement.style.maxWidth = "100%";
                    imgElement.style.height = "auto";
                    emotionCell.innerHTML = "";
                    emotionCell.appendChild(imgElement);
                }
            }
        });

        function deleteComment(obj){
            var cid = obj.dataset.id;
            var url = "/api/comment/delete/" + cid;
            var emotion2 = localStorage.getItem('emotion');
            console.log(emotion2);

            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    if (emotion2) {
                        location.href = '/api/diary/list/emotion/' + emotion2;
                    } else {
                        location.href = '/api/diary/list/1';
                    }
                },
                error: function (jqXHR, status, error) {

                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/user/login';
                    } else {
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

        function deleteDiary(obj){
            var numId = obj.dataset.id;
            var url = "/api/diary/delete/" + numId;
            console.log(numId);
            $.ajax({
                url: url,
                type: "DELETE",
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    location.href = '/api/diary/list/1';

                },
                error: function (jqXHR, status, error) {

                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/user/login';
                    } else {
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }

        function saveRecommend(obj){
            var numId = obj.dataset.value;
            var url = "/api/recommend/save";

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: JSON.stringify({num_id: numId, uid:[[${uid}]]}),
                cache: false,
                contentType: 'application/json',
                success: function (result, status) {
                        location.href = '/api/diary/list/user';
                },
                error: function (jqXHR, status, error) {

                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/user/login';
                    } else {
                        alert(jqXHR.responseJSON.message);
                    }
                }
            });
        }

        function saveComment(obj) {
            var content = $("#input-comment").val();
            var numId = obj.dataset.value;
            var url = "/api/comment/save";
            var emotion2 = localStorage.getItem('emotion');

            console.log(emotion2);
            console.log(content + numId +[[${uid}]]);
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: JSON.stringify({numId: numId , content:content ,uid:[[${uid}]]}),
                cache: false,
                contentType: 'application/json',
                success: function (result, status) {
                    if (emotion2) {
                        location.href = '/api/diary/list/emotion/' + emotion2;
                    } else {
                        location.href = '/api/diary/list/1';
                    }
                },
                error: function (jqXHR, status, error) {
                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/user/login';
                    }
                }
            });
        }

    </script>

</th:block>

<body>
<!-- navigation -->
<nav>
    <a href="/api/diary/list/1"><h1>𝑨𝒈𝒆𝒏𝒅𝒂</h1></a>
    <div class="menu">
        <div class="nav_menu"><a onclick="deleteEmotion()" href="/api/diary/list/1">
            <img src="/img/home.png" alt="홈">
            <div class="nav_span"><span>홈</span></div></a>
        </div>
        <script>
            function deleteEmotion() {
                localStorage.removeItem('emotion');
            }
        </script>

        <div class="nav_menu"><a href="/api/diary/save">
            <img src="/img/plus.png" alt="만들기">
            <div class="nav_span"><span>만들기</span></div></a>
        </div>

        <div class="nav_menu"><a href="/api/diary/list/user" >
            <img class="pic" src="/img/user.png" alt="마이페이지">
            <div class="nav_span"><span th:text="${nickName}">프로필</span></div></a>
        </div>

        <div class="nav_menu"><a href="/user/logout">
            <div class="nav_span"><span>로그아웃</span></div></a>
        </div>
    </div>
</nav>
<!-- main -->
<main>

<!--    <div class="main_category">-->
<!--        <button class="btn_emoji" type="button" onclick="setEmotion('공포')"><a href="/api/diary/list/emotion/공포" class="btn_a">공포</a></button>-->
<!--        <button class="btn_emoji" type="button" onclick="setEmotion('놀람')"><a href="/api/diary/list/emotion/놀람" class="btn_a">놀람</a></button>-->
<!--        <button class="btn_emoji" type="button" onclick="setEmotion('분노')"><a href="/api/diary/list/emotion/분노" class="btn_a">분노</a></button>-->
<!--        <button class="btn_emoji" type="button" onclick="setEmotion('슬픔')"><a href="/api/diary/list/emotion/슬픔" class="btn_a">슬픔</a></button>-->
<!--        <button class="btn_emoji" type="button" onclick="setEmotion('중립')"><a href="/api/diary/list/emotion/중립" class="btn_a">중립</a></button>-->
<!--        <button class="btn_emoji" type="button" onclick="setEmotion('행복')"><a href="/api/diary/list/emotion/행복" class="btn_a">행복</a></button>-->
<!--        <button class="btn_emoji" type="button" onclick="setEmotion('혐오')"><a href="/api/diary/list/emotion/혐오" class="btn_a">혐오</a></button>-->
<!--    </div>-->
<!--    <script>-->
<!--        function setEmotion(emotion) {-->
<!--            localStorage.setItem('emotion', emotion);-->
<!--        }-->
<!--    </script>-->
    <div class="grid-container">
        <div class="grid-item" th:each="list : ${lists}" >
            <a th:href="@{/api/diary/posts/{id}(id = ${list.numId})}">
                <div class="content-wrapper">
                    <p th:text="${list.writeDate}" style="line-height: 20px; height: 30px; margin: 0;"></p>
                    <td class="table_img">
                        <img th:src="${list.photo}" alt="피드 사진" class="mainPic" width="150" height="150">
                    </td>
                    <div>
                        <img class="img-profile pic" th:src="${list.emotion}" alt="사용자의 감정 정보" style="width: 40px; height: 40px;">
<!--                        <p th:text="${list.content}"></p>-->
                    </div>
                </div>
            </a>
        </div>
    <!--  csrf 체크해서 이동 -->
    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}">
    </div>
</main>
<footer>
    <p class="insta-sccript">
        소개 ∙ 도움말 ∙ 홍보 센터 ∙ API ∙ 채용 정보 ∙ 개인정보처리방침 ∙ <br>약관 ∙ 위치 ∙ 인기계정 ∙ 해시태그 ∙ 언어
        <br><br>
        © 2020 INSTAGRAM FROM FACEBOOK
    </p>
</footer>
</body>
</html>