<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <title>Instagram</title>
  <link href="/css/common.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <!-- favicon -->
  <link rel="icon" href="/img/favicon.png">
  <link rel="instagram-icon" href="/img/favicon.png">
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">
    $(document).ready(function(){
      let errorMessage = [[${errorMessage}]]; <!-- th:inline="javascript"이 있어야만 에러메시지 인식됨 -->
      if(errorMessage != null){
        alert(errorMessage);
      }

      bindDomEvent();

    });

    function bindDomEvent(){
      $("#photo").on("change", function() {
        let fileName = $(this).val().split("\\").pop();  //이미지 파일명
        let fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
        fileExt = fileExt.toLowerCase(); //소문자 변환
        //파일 첨부 시 이미지 파일인지 검사한다.
        if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
          alert("이미지 파일만 등록이 가능합니다.");
          return;
        }
        //화면에 파일명을 나타낸다
        $(this).siblings("#photo").html(fileName);
      });
    }

  </script>

</th:block>
<style>
  @font-face {
    font-family: 'Jamsil2';
    src: url('/font/The Jamsil OTF 2 Light.otf') format('opentype');
  }
</style>
<body>
<!-- navigation -->
<nav>
  <a href="/api/diary/list/1"><h1>𝑨𝑮𝑬𝑵𝑫𝑨</h1></a>
  <div class="menu">
    <div class="nav_menu"><a onclick="deleteEmotion()" href="/api/diary/list/1">
      <img src="/img/home.png" alt="홈">
      <div class="nav_span"><span>홈</span></div></a>
    </div>

    <div class="nav_menu"><a onclick="deleteEmotion()" href="/api/diary/save">
      <img src="/img/plus.png" alt="만들기">
      <div class="nav_span"><span>다이어리 작성</span></div></a>
    </div>

    <div class="nav_menu"><a onclick="deleteEmotion()" href="/api/diary/list/user" >
      <img class="pic" src="/img/user.png" alt="마이페이지">
      <div class="nav_span"><span>다이어리</span></div></a>
    </div>
    <div class="nav_menu">
      <hr style="width: 150px; margin-left: 0;">
      <a onclick="deleteEmotion()" href="/user/logout">
        <div class="nav_span"><span>로그아웃</span></div>
      </a>
    </div>
  </div>
</nav>

<!-- main -->
<main>

  <div class="main_div">
    <h2 class="main_h1" style="margin: 0; font-size: 40px;">하루의 감정 경험을 기록하여 사람들과 나눠봅시다! </h2>
    <form role="form" id="diaryForm" enctype="multipart/form-data" action="/api/diary/save_proc" method="post">
      <div class="main_nickDate">
        <label for="content" style="font-family: 'Jamsil2'; margin-right: 5px;margin-bottom: 10px; font-weight: bold; font-size: 18px;">[[${nickName}]]</label>
        <div class="main_date">
          <label for="content" style="font-family: 'Jamsil2'; margin-bottom: 10px;">[[${strNowDate}]]</label>
        </div>
      </div>
      <div>
        <label class="main_label" for="content">내용:</label>
        <textarea id="content" name="content" required style="font-size: 17px; font-family: 'Jamsil2'; margin-top: 10px; width: 100%; height: 300px; border: 1px solid #ddd; padding: 10px;"></textarea>
      </div>
      <div>
        <label class="main_label" for="photo" >사진:</label>
        <input type="file" id="photo"  name="itemImgFile" style="font-family: 'Jamsil2'; height: 100px; padding: 10px;">
      </div>
      <div class="main_btn">
        <button type="submit" style="font-family: 'Jamsil2'; margin-top: 10px; padding: 10px 20px; background-color: #000000; color: #fff; border: none; border-radius: 5px;font-weight: bold; cursor: pointer; font-size: 16px;">등록</button>
      </div>
    </form>
  </div>
</main>


<footer>
  <p class="insta-sccript">
    Copyright © 2023 - All right reserved by Agenda
  </p>
</footer>

</body>

</html>
